.env
.venv/

__pycache__/
.pytest_cache/
.ruff_cache/
.semgrep/
*.py[cod]

logs/*
!logs/.gitkeep

artifacts/*
!artifacts/.gitkeep

presentations/generic-ai-misp-module.pptx
tests/e2etests/*
!tests/e2etests/.gitkeep
